<form class="form-new-task">
  <div class="wrapper">
    <p>
      <label>DESCRIPTION</label>
      <input type="text" class="text-field" placeholder="Enter Task" />
    </p>
    <fieldset>
      <legend>WHEN</legend>
      <div class="radio-date-button">
        <div>
          <input
            type="radio"
            id="radio-today"
            name="date"
            value="Today"
            checked="checked"
          />
          <label for="radio-today">Today</label>
        </div>
        <div>
          <input
            type="radio"
            id="radio-tomorrow"
            name="date"
            value="Tomorrow"
          />
          <label for="radio-tomorrow">Tomorrow</label>
        </div>
        <div>
          <input
            type="radio"
            id="radio-select-date"
            name="date"
            value="Select"
          />
          <label for="radio-select-date">Select Date</label>
        </div>
      </div>
    </fieldset>
  </div>
  <section class="add-task-button">
    <input type="submit" value="Add Task" />
  </section>
</form>
