/*---Task-Form---*/
.form-new-task {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: var(--ff-primary);
}

.wrapper {
  margin: 5%;
}

.wrapper p {
  margin-bottom: 50%;
}

/*---Text-field---*/

.text-field {
  border: 0;
  border-bottom: 3px solid var(--content-passieve);
  outline: 0;
  padding: 10% 0 0;
  padding-bottom: 6%;
  width: 100%;
  margin-left: 5%;
  font-size: 30px;
  opacity: 0.5;
}

/*---Radio-Buttons---*/

.radio-date-button input[type="radio"] {
  opacity: 0;
  width: 0;
}

.radio-date-button {
  color: var(--content-passieve);
  display: flex;
  justify-content: space-around;
  padding: 10% 0 0;
}

.radio-date-button label:hover {
  color: var(--primary);
}

.radio-date-button input[type="radio"]:checked + label {
  color: var(--primary);
}

/*---New-task-Button---*/

.add-task-button input[type="submit"] {
  display: inline-block;
  background-color: var(--primary);
  color: var(--content-passieve);
  padding: 10px 20px;
  font-size: 16px;
  width: 100%;
  min-height: 5em;
  border: 0;
}

.add-task-button input[type="submit"]:hover {
  color: var(--text-primary);
}
