.radio-date-button {
  margin: 10px;
}

.radio-date-button input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.radio-date-button label {
  display: inline-block;
  color: rgb(95, 94, 94);
  padding: 10px 20px;
  font-family: sans-serif, Arial;
  font-size: 16px;
}

.radio-date-button label:hover {
  color: rgb(238, 108, 140);
}

.radio-date-button input[type="radio"]:focus + label {
  color: rgb(192, 15, 59);
}

.radio-date-button input[type="radio"]:checked + label {
  color: rgb(192, 15, 59);
}

/*________________________________________________________________*/
.add-task-button .add-task-button {
  margin: 10px;
}

.add-task-button input[type="submit"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.add-task-button label {
  display: inline-block;
  background-color: #ddd;
  padding: 10px 20px;
  font-family: sans-serif, Arial;
  font-size: 16px;
  border: 2px solid #444;
  border-radius: 4px;
}

.add-task-button label:hover {
  background-color: #dfd;
}

.add-task-button input[type="submit"]:focus + label {
  border: 2px dashed #444;
}

.add-task-button input[type="submit"]:checked + label {
  background-color: #bfb;
  border-color: #4c4;
}
