<form>
  <fieldset>
    <section>
      <p>
        <label>DESCRIPTION</label>
        <input type="text" class="text" placeholder="Enter Task" />
      </p>
    </section>
    <fieldset>
      <section>
        <legend>Wehn</legend>
        <div class="radio-date-button">
          <input
            type="radio"
            id="radioToday"
            name="date"
            value="Today"
            checked="checked"
          />
          <label for="radioToday">Today</label>
          <input
            type="radio"
            id="radioTomorrow"
            name="date"
            value="radioTomorrow"
          />
          <label for="radioTomorrow">Tomorrow</label>
          <input
            type="radio"
            id="radioSelectDate"
            name="date"
            value="radioSelect"
          />
          <label for="radioSelectDate">Select Date</label>
        </div>
      </section>
    </fieldset>
    <section class="add-task-button">
      <input type="submit" id="AddTask" name="send" value="AddTask" />
      <label for="AddTask">Add Task</label>
    </section>
  </fieldset>
</form>
