<div class="taskListContainer">
  <section class="taskListRadioBtnGrp">
    <p>
      <input name="taskListWhen" type="radio" id="taskListRadioWeek" />
      <label for="taskListRadioWeek">THIS WEEK</label>
    </p>
    <p>
      <input name="taskListWhen" type="radio" id="taskListRadioTomorrow" />
      <label for="taskListRadioTomorrow">TOMORROW</label>
    </p>
    <p>
      <input
        name="taskListWhen"
        type="radio"
        id="taskListRadioToday"
        checked="checked"
      />
      <label for="taskListRadioToday">TODAY</label>
    </p>
  </section>
  <section class="taskList">
    <input type="checkbox" id="firstTask" name="task" />
    <label class="task" for="firstTask">Book appointment with Jared</label>
    <input type="checkbox" id="secondTask" name="task" />
    <label class="task" for="secondTask">Upload today shot on Dribble</label>
    <input type="checkbox" id="thirdTask" name="task" />
    <label class="task" for="thirdTask"
      >Complete the Elephant Illustration</label
    >
    <input type="checkbox" id="fourthTask" name="task" />
    <label class="task" for="fourthTask">Buy Cake for Clair's Birthday</label>
    <input type="checkbox" id="fifthTask" name="task" />
    <label class="task" for="fifthTask">Attend UX Conference with Jared</label>
  </section>
</div>
